/* nord color by Sven Greb <development@svengreb.de> */
.text-color-polarnight1 {
    color: #2e3440;
}
.text-color-polarnight2 {
    color: #3b4252;
}
.text-color-polarnight3 {
    color: #434c5e;
}
.text-color-polarnight4 {
    color: #4c566a;
}
.text-color-snowstorm1 {
    color: #d8dee9;
}
.text-color-snowstorm2 {
    color: #e5e9f0;
}
.text-color-snowstorm3 {
    color: #eceff4;
}
.text-color-frost1 {
    color: #8fbcbb;
}
.text-color-frost2 {
    color: #88c0d0;
}
.text-color-frost3 {
    color: #81a1c1;
}
.text-color-frost4 {
    color: #5e81ac;
}
.text-color-aurora1 {
    color: #bf616a;
}
.text-color-aurora2 {
    color: #d08770;
}
.text-color-aurora3 {
    color: #ebcb8b;
}
.text-color-aurora4 {
    color: #a3be8c;
}
.text-color-aurora5 {
    color: #b48ead;
}
